
<div class="container">
  <div class="row searchBox">
    <input placeholder="SEARCH EVENTS" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()" type="text"/>

  </div>
  <div class="row" *ngIf="eventListFilterArr && eventListFilterArr.length > 0">
    <div *ngFor="let event of eventListFilterArr; index as i" class="col-sm-3">
      <div style="border: 1px solid black; margin: 15px;">
        <p class="textCenter">{{event.name}}</p>
       <div class="event-body">
         <div class="img-section">
          <img style="width: 100px; height:100px;">
         </div>
         <div class="detail-section">
          <span>
            {{event.date}}
           </span>
           <span>
             Seats Available: {{event.seatsAvailable}}
           </span>
           <span>
           <button class="book-now-button btn btn-primary" [routerLink]="'/book/' + event.id" *ngIf="event.seatsAvailable"> BookNow </button>
           <label *ngIf="!event.seatsAvailable"> Sold Out </label>
          </span>
         </div>
       </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="eventListFilterArr && eventListFilterArr.length === 0">
    No results found!
  </div>
</div>
