<div class="container">
  <div class="row centerBox"><h1>
    {{eventBookingObj.name}}
  </h1>
</div>
<div *ngIf = "isTicketBooked" class= "successMsg"> Tickets booked </div>
  <div class="row centerBox">
    Number of available seats: {{eventBookingObj.seatsAvailable}}
  </div>

  <div class="event-booking-section">
<div class="imgsection">
  <img class="imageArea">
</div>
<div class="book-detail-section">
  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input class="form-control" (keydown)="onKeyDown($event)" name="AttendeeName" type="text" [(ngModel)]="eventAttendeeObj.name" >
        <span *ngIf="!eventAttendeeObj.name && showerror" class="errormsg">
          Name is required 
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input (ngModelChange)="validEmail = true;"  class="form-control" name="AttendeeEmail" type="email" [(ngModel)]="eventAttendeeObj.email">
        <span *ngIf="!eventAttendeeObj.email && showerror" class="errormsg">
          Email is required
        </span>
        <span *ngIf="!validEmail" class="errormsg">
          Enter Valid Email
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-10">
        <input (keydown)="onPhoneKeyDown($event)" class="form-control" name="AttendeePh" type="text" [(ngModel)]="eventAttendeeObj.phone">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Number of seats</label>
      <div class="col-sm-10">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
                  aria-controls="dropdown-basic">
                  {{eventAttendeeObj.seats ? eventAttendeeObj.seats : 'Choose Seats... '}}
            <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem" *ngFor="let i of [1,2,3,4,5,6]">
              <a (click)="eventAttendeeObj.seats = i; fillSeatsArr(i)" class="dropdown-item" >
                {{i}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <span *ngIf="!eventAttendeeObj.seats && showerror" class="errormsg">
        Please enter the number of seats
      </span>
      <span *ngIf="isSeatNotAvailable()" class="errormsg">
        Number of seats selected is more than available seats
      </span>
    </div>
    <div *ngFor="let seat of seatsArray" class="form-group row">
      <label  class="col-sm-2 col-form-label">Name of attendees {{' ' + seat }}</label>
      <div class="col-sm-10">
        <input (keydown)="onKeyDown($event)" type="text" class="form-control" [(ngModel)]="eventAttendeeObj[seat + 'attendee']" [name]="seat+'a'" >
        <span *ngIf="!eventAttendeeObj[seat + 'attendee']  && showerror" class="errormsg">
          Please enter the name of Attendee #{{seat}}
        </span>
      </div>
    </div>
    <div class="footer">
      <button type="button" (click)="onSubmit()" [disabled]="isTicketBooked" class="btn btn-primary button">Submit</button>
      <button [routerLink]="'/events'"  type="button" [disabled] = "isTicketBooked" class="btn btn-secondary button">Cancel</button>
    </div>
  </form>
</div>
  </div>
</div>
